extends _partials/layout

block scripts
  script(src=cdnUrl + "/button.js")

block content
  each item in items
    .p-4.flex.flex-nowrap.items-center
      p.font-medium.mr-4 !{item.amount}x
      img(src=item.image).w-20.h-20.object-cover.rounded.drop-shadow-lg
      p.font-medium.mx-4.grow !{item.name}
      p.font-medium.mx-4.w-20 !{item.price_total} €

  hr.mb-4
  .p-4.flex.flex-col.justify-end.items-end.column
    p.mx-4.mb-2 Subtotal !{subTotal} € 
    p.mx-4.mb-2 Shipping !{shipping} €
    p.font-medium.mx-4.mb-6 Total !{total} € 

    script.
      function checkout(event) { 
        const form = new FormData(document.getElementById("myForm"))
        const data = Object.fromEntries(form.entries())

        fetch(`/checkout`,
        { method: 'POST', headers: {"Content-Type": "application/json"}, body: JSON.stringify(data) })
        .then(response => response.json())
        .then(data => {
          startIvyCheckout(data.url)
        })
       }
    div
      form#myForm
        div.justify-center
          div
            input.h-5.w-5.bg-neutral-300(type="checkbox" value="us_bank_account" role="switch" name="bank" data-testid="us-bank-checkout")
            label.inline-block US-Checkout
          div
            select.m-1(name='currency' data-testid="currency")
              option(value='EUR') €
              option(value='USD') $
            label.inline-block Currency
          div
            input.h-5.w-5.bg-neutral-300(type="checkbox" value=1 role="switch" name="express" data-testid="express-checkout")
            label.inline-block Express
          div
            input.h-5.w-5.bg-neutral-300(type="checkbox" value=1 role="switch" name="handshake" data-testid="handshake")
            label.inline-block Handshake
          div
            input.h-5.w-5.bg-neutral-300(type="checkbox" value=1 role="switch" name="guest" data-testid="guest-checkout")
            label.inline-block Guest (not allowed with express)
          div
            input.h-5.w-5.bg-neutral-300(type="checkbox" value=1 role="switch" name="disableBankSelection" data-testid="disableBankSelection-checkout")
            label.inline-block Disable bank selection
          div
            input.h-5.w-5.bg-neutral-300(type="checkbox" value="true" role="switch" name="broken" data-testid="broken")
            label.inline-block Broken
          div
            input.h-5.w-5.bg-neutral-300(type="checkbox" value="true" role="switch" name="email" data-testid="prefilled-email")
            label.inline-block Email
          div
            input.h-5.w-5.bg-neutral-300(type="checkbox" value=1 role="switch" name="phoneRequired" data-testid="phone-required")
            label.inline-block Phone required (only express)           
          div
            input.h-5.m-1(type="text" name="plugin" data-testid="plugin")
            label.inline-block Plugin          
          div
            input.h-5.w-5.bg-neutral-300(type="checkbox" role="switch" value="de-tinktestsuccess" name="bank" data-testid="prefilled-bank")
            label.inline-block Prefilled bank                 
          div
            select.m-1(name='locale' data-testid="language")
              option(value='de') DE
              option(value='en') EN
              option(value='nl') NL
            label.inline-block Locale  
          div
            select.m-1(name='incentiveMode' data-testid="incentiveMode")
              option(value='sustainable') Sustainable
              option(value='white_label') White Label
              option(value='cashback') Cashback
            label.inline-block Incentive Mode              
          div                    
            button(type="button" onClick="checkout()" data-cart-value="200" data-locale="en" data-position="above" data-testid="checkout-button").ivy-checkout-button
    div
      span Version: !{version}    
