extends _partials/layout

block scripts
  script(src=cdnUrl + "/button.js")

block content
  each item in items
    .p-4.flex.flex-nowrap.items-center
      p.font-medium.mr-4 !{item.amount}x
      img(src=item.image).w-20.h-20.object-cover.rounded.drop-shadow-lg
      p.font-medium.mx-4.grow !{item.name}
      p.font-medium.mx-4.w-20 !{item.price_total} €

  hr.mb-4
  .p-4.flex.flex-col.justify-end.items-end.column
    p.mx-4.mb-2 Subtotal 91.18 € 
    p.mx-4.mb-2 Shipping !{shipping} €
    p.font-medium.mx-4.mb-6 Total !{total} € 

    script.
      function onClick(express = false, broken = false) { 
        fetch(`/checkout?express=${express}&${broken ? 'broken=true' : ''}`, { method: 'POST' })
        .then(response => response.json())
        .then(data => {
          startIvyCheckout(data.url, "popup")
        })
       }
    
    div
      span Express Checkout:
      button(type="button" onclick='onClick(true)' data-cart-value="200" data-locale="en" data-position="above").ivy-checkout-button

    div.my-10
      span Normal Checkout:
      button(type="button" onclick='onClick(false)' data-cart-value="200" data-locale="de").ivy-checkout-button

    div
      span Express: Invalid Card Checkout
      button(type="button" onclick='onClick(true, true)' data-cart-value="200" data-locale="nl").ivy-checkout-button
