extends _partials/layout

block scripts
  script(src=cdnUrl + "/button.js")
    

block content
  each item in items
    .p-4.flex.flex-nowrap.items-center
      p.font-medium.mr-4 !{item.amount}x
      img(src=item.image).w-20.h-20.object-cover.rounded.drop-shadow-lg
      p.font-medium.mx-4.grow !{item.name}
      p.font.mx-4.w-20 !{item.price_net} € (Net)
      p.font.mx-4.w-20 !{item.price_vat} € (VAT)
      p.font-medium.mx-4.w-20 !{item.price_total} € (Total)

  .border.mb-4
  .p-4.flex.flex-col.justify-end.items-end.column
    p.mx-4.mb-2 !{subtotalNet} € (Subtotal)
    p.mx-4.mb-2 !{shipping} € (Shipping)
    p.mx-4.mb-2 !{vat} € (VAT)
    p.font-medium.mx-4.mb-6 !{total} € (Total)
    form(method="POST" action="/checkout?express=true") 
      button(type="submit" style="visibility: hidden" data-cart-value="119.97" data-shop-category="5999" data-locale="de")#ivy-checkout-button.rounded-full.bg-blue-500.px-4.py-2.text-neutral-50 

    form(method="POST" action="/checkout")
      button(type="submit")#ivy-checkout-button.rounded-full.bg-blue-500.mt-4 Normal Checkout 

  p Version: #{version}


  

