extends _partials/layout

block scripts
  script(src=cdnUrl + "/button.js")

block content
  each item in items
    .p-4.flex.flex-nowrap.items-center
      p.font-medium.mr-4 !{item.amount}x
      img(src=item.image).w-20.h-20.object-cover.rounded.drop-shadow-lg
      p.font-medium.mx-4.grow !{item.name}
      p.font-medium.mx-4.w-20 !{item.price_total} €
  hr.mb-4
  .p-4.flex.flex-col.justify-end.items-end.column
    p.mx-4.mb-2 Subtotal 91.18 € 
    p.mx-4.mb-2 Shipping !{shipping} €
    p.font-medium.mx-4.mb-6 Total !{total} € 

    script.
      function onClick() { 
        fetch('/checkout?express=true', { method: 'POST' })
        .then(response => response.json())
        .then(data => {
          startIvyCheckout(data.url , 'popup')
        })
      }

    div.w-80
      button(type="button" onClick='onClick()' data-locale="en" data-position="above" data-cart-value=96.18).ivy-checkout-button
  
  div
    img.ui.mini.image(src='https://upload.wikimedia.org/wikipedia/commons/0/09/Bits_%26_Pretzels_logo.svg' style={'margin-top': '0px', 'margin-left': '10px', 'margin-right': '10px'}).w-20.h-20
    p(style={'margin-top': '0px', 'margin-bottom': '50px', 'font': '10px', 'margin-left': '10px', 'margin-right': '10px'}) Ivy is payment partner at the Bits'n'Pretzels. Check us out at the event.
